section {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

    .mainDiv{
        width: 100%;
        background-color: white;
        height: 100%;

        .upcomingRalliesContent{
            display: flex;
            justify-content: space-around;
            padding: 5px;
            flex-wrap: wrap;

            .rally{
                width: 600px;
                padding: 10px;
                margin: 5px;
                background-color: #575757;
                display: flex;
                justify-content: center;
                align-items: center;

                display: flex;
                align-items: center;
                justify-content: space-between;

                border-radius: 10px;

                @media only screen and (max-width: 700px) {
                    .dates{
                        font-size: 0.9em;
                    }
                }
                
                div{
                    width: 30%;
                    font-size: 1.1em;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                }

                h3{
                    width: 60%;
                    text-align: start;
                }
            }
        }
    }
}