.container {
    background-color: antiquewhite;
    .row {
        margin: 0 auto;
        max-width: 1400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: white !important;
        width: 100%;
    }
    .col-sm-4 {
        padding: 15px;
        width: 100%;
        .card {
            background-color: rgb(32, 42, 68);
            border: none;
            border-radius: 10px;
            height: 110px;
            .card-body {
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .card-title {
                    font-size: 1.25rem;
                    font-weight: bold;
                    text-align: center;
                }
                .card-text {
                    font-size: 1rem;
                    text-align: center;
                }
            }
        }
    }
    @media (max-width: 430px) {
        .col-sm-4 {
            .card {
                height: auto;
            }
        }
    }
    @media (max-width: 380px) {
        .col-sm-4 {
            .card {
                height: auto;
            }
        }
    }
  }
  