.WRCLinksDiv1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div{
        width: 70%;
        display: flex;
        flex-direction: column;

        div{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            div{
                width: 40%;
                margin: 30px;

                a{
                    background-color: rgb(32, 42, 68);
                    color: white;
                    text-decoration: none;
                    width: 100%;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    img{
                        width: 100%;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }

                    p{
                        text-align: center;
                        font-size: 1.4em;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    &:hover{
                        box-shadow: 5px 5px 5px rgba(73, 73, 73, 0.5);
                        transform: scale(1.03);
                    }
            
                    &:focus{
                        box-shadow: 5px 5px 5px rgba(73, 73, 73, 0.5);
                        outline: none;
                        transform: scale(1.03);
                    }
                }
            }

            @media (max-width: 857px){
                div{
                    width: 100%;
                }
            }
        }

        @media (max-width: 857px){
            width: 90%;
        }
    }
}